.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  margin: 0 auto;
  right: 0;
  left: 0;
  text-align: center;
  padding-left: 100px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #D49E61;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu a:hover {
  text-decoration:underline;
}

@media(max-width: 100px){

  /* .header {
    text-align: center;
  } */
  .menu{
    justify-content:right
  }

  .menu ul {
    flex-direction: column;
  }
}